.border-liquidity {
    border-radius: 12px;
}
.border-search {
    border-radius: 12px;
}
.border-button {
    border-radius: 8px;
}
.border-button-small {
    border-radius: 4px;
}
.border-small {
    border-radius: 8px;
}
.border-tab {
    border-radius: 24px;
}
.btn-border {
    background-color: transparent;
    border: 2px solid #1C88F2;
}
.btn-border:hover {
    background-color: #1C88F244;
    border: 2px solid #1C88F2dd;
}
